body {
    font-family: 'Plus Jakarta Sans', sans-serif;

    margin: 0px;



}

.headermain {

    background-color: rgba(0, 0, 0, 0.904);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    ul {
        margin: 0px;
        padding: 5px;

        li {
            padding: 5px;
            margin: 0px;

            &:hover {
                color: blue;
                transition: 1.2s;
            }
        }
    }

    .Zag1 {
        color: blue;
        margin-right: 90px;
    }

}

.leibl {
    &:hover {
        transform: rotate(2deg);
        scale: 3;
        color: blue;
        transition: 1.2s;
    }

}

a {
    text-decoration-line: none;
    color: deepskyblue;

}

.gif {
    text-align: center;
    margin: 10px 0;
}

.ZILKA {
    color: deepskyblue;
    font-weight: 600;
}

.main {
    background: rgba(0, 0, 0, 0.904);
    color: whitesmoke;
    font-weight: 500;
    max-width: 980px;
    margin: 0px;

    padding: 25px;
    flex-grow: 1;
    line-height: 25px;
}

footer {
    background-color: rgba(0, 0, 0, 0.904);
    color: white;
    padding: 20px;
    text-align: center;
}

p {
    box-sizing: border-box;
    margin: 0 0 15px 0;
    text-align: center;

}

.flexmain {
    display: flex;
    flex-direction: row;



    .leftflex {
        background-image: url(../images/562755_main.jpg);

        flex-grow: 1;
        width: 300px;
    }

    .rightflex {
        background-image: url(../images/christmas-3778207_1280.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        flex-grow: 1;
        width: 300px;
    }
}

h2 {
    color: deepskyblue;
    text-align: center;

    &:hover {
        color: blue;
        transition: 1.2s;
    }
}

.flexbox {
    display: flex;
    flex-direction: row;
    align-content: stretch;
    align-items: stretch;

    .flexcarousel {
        flex-grow: 1;
        width: 100%;
        height: 380px;

    }

    .textflex {
        flex-grow: 1;
    }
}

@media all and (max-width: 1900px) {
    .main {
        background: rgba(0, 0, 0, 0.904);
        color: whitesmoke;
        font-weight: 500;
        max-width: 1417px;
        margin: 0px;

        padding: 15px 19px;

        line-height: 27px;
    }

}

@media all and (max-width: 1600px) {
    .main {
        background: rgba(0, 0, 0, 0.904);
        color: whitesmoke;
        font-weight: 500;
        max-width: 1245px;
        margin: 0px;
        padding: 15px 19px;

        line-height: 25px;
    }
}

@media all and (max-width: 1400px) {
    .main {
        background: rgba(0, 0, 0, 0.904);
        color: whitesmoke;
        font-weight: 500;
        max-width: 1101px;
        margin: 0px;

        padding: 15px 19px;

        line-height: 25px;
    }
}

@media all and (max-width: 1000px) {
    .flexcarousel {
        display: none;
    }
}


@media all and (max-width: 630px) {
    .gif {
        width: 400px;
    }

    .leftflex {
        background-repeat: repeat;
    }

    .rightflex {
        background-repeat: repeat;
    }
}

@media all and (max-width: 550px) {
    .gif {
        width: 300px;
    }

    .leftflex {
        background-repeat: repeat;
    }

    .rightflex {
        background-repeat: repeat;
    }

    .headermain {

        background-color: rgba(0, 0, 0, 0.904);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        ul {
            margin: 0px;
            padding: 5px;

            li {
                padding: 5px;
                margin: 0px;

                &:hover {
                    color: blue;
                    transition: 1.2s;
                }
            }
        }
    }
}